
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background-color: #1e1e1e;
  background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(30,30,30,1) 100%);
}
body {
  position:relative;
  max-width: 800px;
  padding: 50px 20px 20px 20px;
}
html, 
body {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}
header {
  display: block;
  padding: 20px;
}
header a,
header a:hover {
  color: #ffffff;
  text-decoration: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);  
  width:760px;
  min-height: 500px;
  margin: auto;
  padding: 50px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
.movie-suggestion-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}
.title {
  position: relative;
  float: left;
  margin-top: -21px;
  text-align: left;
}
.title h1 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
.preferences {
  display: flex;
  justify-content: flex-end;
  float: right;
  z-index: 100;
}
button {
  display: block;
  border: 0px;
}
.dropbtn {
  padding: 0px 30px 0px 0px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight:400;
  color: white;
  cursor: pointer;
}
.dropbtn:after {
  content: ' \2304';
  position: relative;
  top: -3px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.drp {
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 120px;
  padding: 10px 0px 0px 0px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  background-color: #2b2b2b;
  font-size: 11px;
}
.drp a {
  display: block;
  padding: 8px 15px 8px 15px;
  background-color: transparent;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  color: #ababab;
}
.drp a:hover {
  background-color: #494949;
  color:#ffffff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.error {
  font-weight: 800;
}
.error:before{
  content: '*Required';
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 10px;
  color: red;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.btn {
  position: relative;
  top: -5px;
  margin: 0px;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  background-color: #494949;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#main-movie__default {
  display: flex;
  position:relative;
  width: 100%;
  clear: both;
}
#main-movie__default > div {
  position: absolute;
}
#main-movie__default > div:nth-child(1),
#main-movie__default > div:nth-child(1) img,
#main-movie__default > div:nth-child(5),
#main-movie__default > div:nth-child(5) img {
  width: auto;
  height: 265px;
}
#main-movie__default > div:nth-child(2),
#main-movie__default > div:nth-child(2) img,
#main-movie__default > div:nth-child(4),
#main-movie__default > div:nth-child(4) img {
  width: auto;
  height: 325px;
}
#main-movie__default > div:nth-child(3),
#main-movie__default > div:nth-child(3) img {
  width: auto;
  height: 375px;
} 
#main-movie__default > div:nth-child(1) {
  top: 60px;
  left: 0px;
  z-index: 1;
  -webkit-animation: fadein40 2s;
  -moz-animation: fadein40 2s;
  -o-animation: fadein40 2s;
  animation: fadein40 2s;
  opacity: 0.4;
}
#main-movie__default > div:nth-child(2) {
  top: 30px;
  left: 100px;
  z-index: 2;
  -webkit-animation: fadein70 3s;
  -moz-animation: fadein70 3s;
  -o-animation: fadein70 3s;
  animation: fadein70 3s;
  opacity: 0.7;
}
#main-movie__default > div:nth-child(3) {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  -webkit-animation: fadein100 4s;
  -moz-animation: fadein100 4s;
  -o-animation: fadein100 4s;
  animation: fadein100 4s;
  opacity: 1;
}
#main-movie__default > div:nth-child(4) {
  top: 30px;
  right: 100px;
  z-index: 2;
  -webkit-animation: fadein70 3s;
  -moz-animation: fadein70 3s;
  -o-animation: fadein70 3s;
  animation: fadein70 3s;
  opacity: 0.7;
}
#main-movie__default > div:nth-child(5) {
  top: 60px;
  right: 0px;
  z-index: 1;
  -webkit-animation: fadein40 2s;
  -moz-animation: fadein40 2s;
  -o-animation: fadein40 2s;
  animation: fadein40 2s;
  opacity: 0.4;
}
#main-movie__poster {
  display: block;
  width: auto;
  padding-right: 25px;
}
#main-movie__poster img {
  width: 200px;
  height: auto;
}
.main-movie__details {
  display: block;
  width: 100%;
}
.main-movie__details #main-movie__title {
  font-size: 28px;
}
.main-movie__details .main-movie__more {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 200;
  color: #ababab;
}
.main-movie__details .main-movie__genre:after {
  content: ', '
}
.main-movie__details .main-movie__genre:last-child:after {
  content: ''
}
.main-movie__details #main-movie__description {
  font-size: 14px;
  line-height: 1.2em;
}
footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
footer a,
footer a:hover {
  color: #494949;
  font-size: 12px;
  text-decoration: none;
}

@-webkit-keyframes fadein40 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.4;
  }
}
@-moz-keyframes fadein40 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@-o-keyframes fadein40 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes fadein40 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes fadein70 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.7;
  }
}
@-moz-keyframes fadein70 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-o-keyframes fadein70 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes fadein70 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes fadein100 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-moz-keyframes fadein100 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein100 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein100 {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-height:650px) {
  html, 
  body {
    height: auto;
  }
  .content {
    position: relative;
    top: 0;
    left: 0;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
    transform: none;
  }  
  footer {
    position: relative;
  }
}
@media only screen and (max-width:620px) {
  html, 
  body {
    height: auto;
  }
  .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
    transform: none;
  }  
  .title {
    display: block;
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }  
  .preferences {
    flex-wrap: wrap;
    float: none;
    justify-content: center;
  }
  .preferences > div {
    padding-bottom: 15px;
  }
  .preferences > div .dropbtn {
    padding: 0px 10px 0px 0px;
    font-size: 14px;
  }
  #main-movie__default > div:nth-child(1),
  #main-movie__default > div:nth-child(1) img,
  #main-movie__default > div:nth-child(5),
  #main-movie__default > div:nth-child(5) img {
    height: 175px;
  }
  #main-movie__default > div:nth-child(2),
  #main-movie__default > div:nth-child(2) img,
  #main-movie__default > div:nth-child(4),
  #main-movie__default > div:nth-child(4) img {
    height: 225px;
  }
  #main-movie__default > div:nth-child(3),
  #main-movie__default > div:nth-child(3) img {
    height: 275px;
  } 
  #main-movie__default > div:nth-child(2) {
    left: 30px;
  }
  #main-movie__default > div:nth-child(4) {
    right: 30px;
  }
}
@media only screen and (max-width:568px) {
  body {
    padding: 20px;
    box-sizing: border-box;
  }  
  header {
    padding: 20px 10px 10px 10px;
  }
  .title img {
    max-width: 100%;
  }
  .movie-suggestion-wrapper {
    display: block;
  }
  #main-movie__poster, 
  .main-movie__details {
    padding: 0px;
    text-align: center;
  }  
  .drp a {
    padding: 5px 10px 5px 10px;
    font-size: 10px;
  }
}