html {
  background-color:#1e1e1e;
  background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(30,30,30,1) 100%);
  min-height:100%;
}

body {
  max-width:800px;
  padding:50px 20px 20px 20px;
}

html, body {
  width:100%;
  margin:auto;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
}

header {
  display:block;
  padding:20px;
}

.title {
  float:left;
  text-align:left;
}

.title h1 {
  padding:0px;
  margin:0px;
  font-size:20px;
}

.preferences {
  float:right;
  display:flex;
  vertical-align:center;
}

button {
  border:0px;
  display:block;
}

.dropbtn {
  color: white;
  font-size:16px;
  padding: 0px 30px 0px 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color:transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drp {
  display: none;
  position: absolute;
  background-color: #2b2b2b;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  z-index: 1;
  border-radius:3px;
  margin: 10px 0px 0px 0px;
  font-size:11px;
}

.drp a {
  color: #ababab;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  display: block;
  font-size:11px;
  background-color:transparent;
  text-align:center;
}

.drp a:hover {
  background-color: #494949;
  color:#ffffff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.show {
  display:block;
}

.hide {
  display:none;
}

.btn {
  border-radius:20px;
  background-color: #494949;
  color:#ffffff;
  padding:8px 20px 8px 20px;
  top:-5px;
  text-align:center;
  font-size:16px;
  margin:0px;
  cursor:pointer;
  position:relative;
}

.btn:hover {
  opacity:0.8;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.content {
  width:100%;
  height:100%;
  min-height:400px;
  margin:auto;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  padding:50px 20px 20px 20px;
}

#mainMoviePoster {
  display:inline-block;
  width:30%;
}

#mainMoviePoster img {
  width:200px;
}

.mainMovieDetails {
  display:inline-block;
  width:68%;
  vertical-align:top;
}

#mainMovieTitle {
  font-size:28px;
}

.mainMovieMore {
  color:#ababab;
  font-weight:900;
}

#mainMovieDescription {
  font-size:14px;
  line-height:1.2em;
}

@media only screen and (max-width:820px) {
  body {
    padding:20px;
    box-sizing:border-box;
  }
  .title {
    display:block;
    margin-bottom:20px;
  }
  .content {
    padding-top:100px;
    box-sizing:border-box;
  }
  #mainMoviePoster, .mainMovieDetails {
    width:100%;
    display:block;
    text-align:center;
  }
  .drp a {
    font-size:10px;
    padding: 5px 10px 5px 10px;
  }
}
